.form-container{
    display: flex;
    justify-content: center;    
}

.app-box{
    margin: 20px;
    width: 75%;
    background-color: #fcfcfc;
    min-height: 600px;
    border-radius: 15px;
    display: flex;
    padding: 20px;
}

/* stretch all div to full length */
.app-box div{
    align-content: stretch;
}

/* make first div occupy all space */
.app-box div:first-child{
    flex: 1;
}

/* make seperator */
.seperator {
    border-left: 1px solid #cccccc;
}


/* Style for section of code preview */
.codepreview {
    padding: 0px 15px;
}

h1 {
    font-weight: 700;
}